/* Existing styles */
.container {
  overflow: none;
  height: 164px;
}

.editor {
  min-height: 100%;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
}

.top__column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  align-items: center;
  margin-bottom: 0px;
  /* border: 1px solid white; */
  max-height: 32px;
}

.top__column_text,
.mid__column_text {
  font-size: 11px;
  font-weight: 300;
  opacity: 80%;
}

.top__column_icon_container {
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.custom_icon {
  padding: 0 8px;
  cursor: pointer;
  opacity: 80%;
}

.custom_icon:hover,
.custom_icon:focus {
  outline: none;
  background-color: transparent;
  opacity: 100%;
  transition: opacity ease-in-out 0.25s;
}
.top__column_textarea_container {
  /* border: 1px solid white; */
}

.top__column_textarea {
  /* font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  background-color: #222222;
  width: 100%;
  overflow-y: hidden;
  cursor: text;
  word-wrap: break-word; */
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  min-height: 56px; /* Height of two lines */
  max-height: 300px; /* Adjust based on your plugin's layout */
  height: auto;
  overflow-y: auto; /* Allow scrolling, but hide scrollbar */
  overflow-x: hidden;
  cursor: text;
  word-wrap: break-word;

  box-sizing: border-box;
  resize: none;
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.top__column_textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.top__column_textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom focus style */
.top__column_textarea:focus {
  outline: none;
}

.mid__column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;

  /* border: 1px solid white; */
  max-height: 32px;
}

.mid__column_text {
  font-size: 11px;
}

.mid__column_text_typography {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  /* border: 1px solid white; */
  margin-top: auto;
}

.mid__column_icon_container {
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.bottom__button {
  padding: 0 16px;
  margin-top: -16px;
}

.bottom__button_text {
  opacity: 80%;
  font-size: 11px;
  font-weight: 300;
  line-height: 12px;
}
.bottom__button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

/* BUTTOM STYLES */
.vibe-selector {
  display: flex;
  gap: 8px;
}

.custom-button {
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 300;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #222222;
  transition: background-color 0.2s, color 0.2s;
}

.custom-button:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); */
  border: 0.5px solid #767676;
  background: #444444;
  cursor: pointer;
}

.custom-button.isMore {
  padding: 0;
}

.custom-button.primary {
  background-color: white;
  color: black;
}

.custom-button.primary:hover {
  background-color: #f0f0f0;
}

.custom-button.secondary {
  background-color: #222222;
  color: #e0e0e0;
}

.custom-button.secondary:hover {
  background-color: #2c2c2c;
}

.button_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__fullWidth {
  width: 100%;
  background: #18a0fb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.bottom__tip {
  text-align: center;
  opacity: 80%;
  font-weight: 300;
  font-size: 11px;
}
