/* Existing styles */
.container {
  overflow: none;
  height: 164px;
}

.editor {
  min-height: 100%;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
}

.top__column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 150px;
  align-items: center;
  margin-bottom: 0px;
  /* border: 1px solid white; */
  max-height: 32px;
}

.top__column_text,
.mid__column_text {
  font-size: 11px;
  font-weight: 300;
}

.top__column_icon_container {
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.top__column_textarea_container {
  /* border: 1px solid white; */
}

.top__column_textarea {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  background-color: #222222;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  max-height: 150px;
  overflow-y: auto;
  resize: none;
}

.mid__column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 150px;
  align-items: center;
  margin-top: 4px;

  /* border: 1px solid white; */
  max-height: 32px;
}

.mid__column_text {
  font-size: 11px;
}

.mid__column_text_typography {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  /* border: 1px solid white; */
  margin-top: auto;
}

.mid__column_icon_container {
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.bottom__button {
  padding: 0 16px;
  margin-top: -16px;
}

.bottom__button_text {
  opacity: 80%;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.bottom__button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__button_container > button {
  border: none;
}
